<h1>Edit this pokemon</h1>
<p>Find me in app/views/pokemons/edit.html.erb</p>
<%= form_for @pokemon do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :img %>
  <%= f.text_field :img %>
  <%= f.label :level %>
  <%= f.number_field :level %>
  <%= f.submit value="Edit this pokemon" %>
<% end %>
